table {
	padding: 5px;
	margin: 5px;	
}

th {
	color: white;
	background: navy;
}

td {
	color: navy;
}

td.inner {
	border-right: 1px;
	border-right-style: solid;
	border-right-color: navy;
	padding: 5px;
}

td.rightmost {
	padding: 5px;
}

.zebra {
	background-color: #ddd;
}

.zebraHover {
	background-color: #8D79AE;
}

.row {
	padding-bottom: 10px;
}